$difference-between-touch-area-and-backdrop: control-height() - control-slim-height();

.Action {
  @include unstyled-button;
  @include text-style-body;
  @include recolor-icon(color('ink', 'lighter'));
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: color('blue', 'dark');

    .ActionIcon {
      @include recolor-icon(color('ink'), color('white'));
    }
  }

  &:focus,
  &:active {
    &::after {
      background: plain-button-background();
    }
  }

  &.disabled {
    color: color('ink', 'lightest');
    cursor: default;
    pointer-events: none;

    .ActionIcon {
      @include recolor-icon(color('ink', 'lightest'));
    }
  }
}

.ActionContent {
  height: 100%;
  padding: 0 spacing();
}

.ActionIcon {
  @include recolor-icon(color('ink', 'lighter'), color('white'));
  padding: 0 spacing();
}

.Action-outline {
  @include button-base;
  @include button-outline(color('ink', 'lighter'));

  &::after {
    top: auto;
    left: auto;
    right: auto;
  }

  &.disabled {
    @include button-outline-disabled(color('ink', 'lighter'));
  }
}
